
body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh; 
}
.footer {
    margin-top: auto; 
}
.custom-radius-10 {
    border-radius: 10px !important;  
}
.border--primary {
    border-left: 5px solid hsl(var(--base)) !important;
}
.custom--card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: hsl(var(--white));
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 hsl(var(--base)/0.2), 0 2px 6px 0 hsl(var(--base)/0.15);
}
.widgets-icons-2 {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(var(--light-600));
    font-size: 27px;
    border-radius: 10px;
}
.rounded--circle {
    border-radius: 50%!important;
}
.text--white {
    color: hsl(var(--white))!important;
}
.ms--auto {
    margin-left: auto!important;
}
.widgets-icons-2 i{
    color: hsl(var(--base));
}
.body-bg{
    background-color: hsl(var(--light));
}
.custom-border-top-success{
    border-top: 3px hsl(var(--success)) solid;
}
.custom-border-top-info{
    border-top: 3px hsl(var(--info)) solid;
}
.custom-border-top-warning{
    border-top: 3px hsl(var(--warning)) solid;
}
.custom-border-top-primary{
    border-top: 3px hsl(var(--base)) solid;
}
.has-anchor {
    position: absolute;
    inset: 0;
    z-index: 1;
}